* {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 
body {
    margin: 0;
    padding: 0;
    background-color: #fefae0;
}
.navbar-container{
   padding: 20px;
   margin: 0 25px;
   display: flex;
   justify-content: space-between;
}
.logo{
    margin: auto 0;
    font-size: 32px;
    font-weight: bold;
    color: #bc6c25;
}
.navbar-list{
    display: flex;
}
.navbar-list a{
    color: #bc6c25;
    text-decoration: none;
    font-size: 16px;
}
#home {
    background-image: url(../asset/image/bg_design.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding: 200px 100px;
}
#home h1{
    text-align: center;
    font-size: 70px;
    color: #fefae0;
}
.title-s, .title-d, .title-p, .title-t,.title-o{
    color: #bc6c25;
    margin: 75px 50px ;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
.content-s, .content-p,.content-t{
    display: flex;
    justify-content: space-evenly;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(227, 147, 10, 0.166);
    border-radius: 5px;
    color: #bc6c25;
}
.box{
    width: 80%;
    padding: 25px;
    margin: auto;
}
.box img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 100px;
}
.box h3{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.box h5{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 0;
}
.box p, .data p{
    font-size: 16px;
    text-align: center;
}
#content-d{
    width:  80%;
    margin: auto;
    overflow: hidden;
}
#content-d img{
    width: 100%;
    height: 700px;
    object-fit: cover;
}
.foto img{
    width: 25%;
    border-radius: 50%;
    display: block;
    margin: auto;
}
.data{
    color: #bc6c25;
    width: 50%;
    margin: auto;
}
.data h2{
    font-size: 24px;
    text-align: center;
    font-weight:bold;
}

button{
    color: #bc6c25;
    background-color: #fefae0;
    box-shadow: 0 4px 8px 0 rgba(227, 147, 10, 0.166);
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 5px;
    font-weight: bold;
    padding: 15px;
    display: block;
    margin: 40px auto;
    border: #bc6c25;
}
button:hover{
    background-color: #bc6c25;
    color: #fefae0;
}

footer p{
    margin-top: 100px;
    width: 100%;
    color:#bc6c25;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .navbar-container{
        display: block;
    }
    .logo{
        font-size: 26px;
        text-align: center;
        margin-bottom: 30px;
    }
    .navbar-list {
        display: inline;
        margin: auto;
    }
    #home h1{
        text-align: center;
        font-size: 30px;
        color: #fefae0;
    }
    .content-s, .content-p,.content-t{
        display: block;
    }
    .foto img{
        width: 35%;
    }
}
